<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>INSPIRE Validator - Test selection</title>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script>
      var cl = document.querySelector('html').classList;
      cl.remove('no-js');
      cl.add('has-js');
    </script>
    <script src="https://ec.europa.eu/wel/cookie-consent/consent.js"></script>
    <script src="../lib/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../lib/jquery-ui/jquery-ui.min.css">
    <script src="../lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/rerun/externalFunctions.js"></script>
    <script src="../js/rerun/app.js"></script>
    <script src="../js/rerun/controller.js"></script>
	<script defer src="https://europa.eu/webtools/load.js" type="text/javascript"></script>
        <link rel="stylesheet" href="../lib/vanillaSelectBox/vanillaSelectBox.css">
    <script src="../lib/vanillaSelectBox/vanillaSelectBox.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v2.27.0/ec-preset-website/styles/ecl-ec-preset-website.css"
      integrity="sha256-bwtkvW7BRBAEhEEsFE/ebr7fkZvb7JOUrXuZwKxCZFs= sha384-HCcnCPOZ+XvTV9wbt8WxhQ4vnZttzmmflvh1bEZPr9z6RgXPPhdEVGW4jwajw37V sha512-WHo2OIEwQkCY8PYQ2w6tmunj+6jrUzOEBUpLYAOTZyGzOWFrT8pHmNrf7ELj+WX7/iTTP57dWASjWG5PREntqQ=="
      crossorigin="anonymous"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v2.27.0/ec-preset-website/styles/ecl-ec-preset-website-print.css"
      integrity="sha256-z/sMzUyVW7T4w7amk6OYpCzq+lWax/057gNJtaAZMcY= sha384-pCXoyvk8WHwIyzamFkdgOBzrBaM5L45RFOmajtp6175zkSpVHIxn88EbJR01zf8m sha512-xnWEhew9uVBCIZu0darcSR+eKBLMpCHKa4vmhfrToZtv2X6u7jp9ZHb2EPBstdG0HAAMBu2eDLPJoKsnfVNzdQ=="
      crossorigin="anonymous"
      media="print"
    />
    <link type="text/css" rel="stylesheet" href="../css/validator.css" />
	<link rel="shortcut icon" href="../favicon.ico">
  </head>
  <body ng-app="myNgValidator">

    <!-- paste the markup from the template here -->
    <header data-ecl-auto-init="SiteHeaderStandardised" class="ecl-site-header-standardised">
      <div class="ecl-site-header-standardised__container ecl-container">
        <div class="ecl-site-header-standardised__top"><a
            class="ecl-link ecl-link--standalone ecl-site-header-standardised__logo-link" href="https://ec.europa.eu/"
            aria-label="European Commission"><img alt="European Commission logo" title="European Commission"
              class="ecl-site-header-standardised__logo-image"
              src="../img/ec/logo--en.svg" /></a>
          <div class="ecl-site-header-standardised__action">
            <div class="ecl-site-header-standardised__login-container"><!--<a
                class="ecl-link ecl-link--standalone ecl-site-header-standardised__login-toggle" href="/example"><svg
                  focusable="false" aria-hidden="true" class="ecl-site-header-standardised__icon ecl-icon ecl-icon--s">
                  <use xlink:href="../component-library/dist/sprites/icons.svg#general--log-in"></use>
                </svg>Log in</a>--></div><a
              class="ecl-link ecl-link--standalone ecl-site-header-standardised__language-selector" href=""
              data-ecl-language-selector="true" aria-controls="language-list-overlay" aria-expanded="false"><span
                class="ecl-site-header-standardised__language-icon"><svg focusable="false" aria-hidden="true"
                  class="ecl-site-header-standardised__icon ecl-icon ecl-icon--s">
                  <use xlink:href="../component-library/dist/sprites/icons.svg#general--language"></use>
                </svg><span class="ecl-site-header-standardised__language-code">en</span></span>English</a>
            <div class="ecl-site-header-standardised__search-container"><a
                class="ecl-link ecl-link--standalone ecl-site-header-standardised__search-toggle" href=""
                data-ecl-search-toggle="true" aria-controls="search-form-id" aria-expanded="false"><svg focusable="false"
                  aria-hidden="true" class="ecl-icon ecl-icon--s">
                  <use xlink:href="../component-library/dist/sprites/icons.svg#general--search"></use>
                </svg>Search</a>
          <form id="nexteuropa-europa-search-search-form" data-ecl-search-form="true"
            class="ecl-site-header-standardised__search ecl-search-form" role="search" action="https://ec.europa.eu/search/?" method="get" >
            <div class="ecl-form-group ecl-form-group--text-input"><label class="ecl-search-form__label ecl-form-label"
                for="search-input-id">Search</label><input type="search" id="edit-querytext" name="QueryText"
                class="ecl-search-form__text-input ecl-text-input" /></div><button aria-label="Search" type="submit"
              class="ecl-search-form__button ecl-button ecl-button--search"><span class="ecl-button__container"><span
                  class="ecl-button__label" data-ecl-label="true">Search</span><svg focusable="false" aria-hidden="true"
                  data-ecl-icon="true" class="ecl-button__icon ecl-button__icon--after ecl-icon ecl-icon--xs">
                  <use xlink:href="../component-library/dist/sprites/icons.svg#general--search"></use>
                </svg></span></button>
			<input type="hidden" name="form_build_id" value="form-HNzukaUwhdrtb67yMDfcMamU5dTPWdPx0f_pJEaMQZI" />
			<input type="hidden" name="form_id" value="nexteuropa_europa_search_search_form" />
          </form>
            </div>
          </div>
        </div>
      </div>
      <div class="ecl-page-header-core">
        <div class="ecl-container">
          <nav class="ecl-page-header-core__breadcrumb ecl-breadcrumb-core" aria-label="You are here:"
            data-ecl-breadcrumb-core="true">
            <ol class="ecl-breadcrumb-core__container">
              <li class="ecl-breadcrumb-core__segment" data-ecl-breadcrumb-core-item="static" aria-hidden="false"><a
                  href="https://ec.europa.eu/" class="ecl-breadcrumb-core__link ecl-link ecl-link--standalone">European Commission</a><svg
                  focusable="false" aria-hidden="true" role="presentation"
                  class="ecl-breadcrumb-core__icon ecl-icon ecl-icon--2xs ecl-icon--rotate-90">
                  <use xlink:href="../component-library/dist/sprites/icons.svg#ui--corner-arrow"></use>
                </svg></li>
                <li class="ecl-breadcrumb-core__segment" data-ecl-breadcrumb-core-item="static" aria-hidden="false"><a
                    href="https://inspire.ec.europa.eu/" class="ecl-breadcrumb-core__link ecl-link ecl-link--standalone">INSPIRE</a><svg
                    focusable="false" aria-hidden="true" role="presentation"
                    class="ecl-breadcrumb-core__icon ecl-icon ecl-icon--2xs ecl-icon--rotate-90">
                    <use xlink:href="../component-library/dist/sprites/icons.svg#ui--corner-arrow"></use>
                  </svg></li>
              <li class="ecl-breadcrumb-core__segment" data-ecl-breadcrumb-core-item="expandable" aria-hidden="false"><a
                  href="https://inspire.ec.europa.eu/validator/" class="ecl-breadcrumb-core__link ecl-link ecl-link--standalone">Validator
                  </a><svg focusable="false" aria-hidden="true" role="presentation"
                  class="ecl-breadcrumb-core__icon ecl-icon ecl-icon--2xs ecl-icon--rotate-90">
                  <use xlink:href="../component-library/dist/sprites/icons.svg#ui--corner-arrow"></use>
                </svg></li>
              <li class="ecl-breadcrumb-core__segment ecl-breadcrumb-core__current-page" aria-current="page"
                data-ecl-breadcrumb-core-item="static" aria-hidden="false">Test selection</li>
            </ol>
          </nav>
          <h1 class="ecl-page-header-core__title">INSPIRE Validator - Test selection</h1>
          <!-- <p class="ecl-page-header-core__description">Test your INSPIRE data, services and metadata</p> -->
          <nav class="ecl-menu" aria-expanded="false" data-ecl-menu="true">
            <div class="ecl-menu__overlay" data-ecl-menu-overlay="true"></div>
            <div class="ecl-container ecl-menu__container"><a class="ecl-link ecl-link--standalone ecl-menu__open" href="/example"
                data-ecl-menu-open="true"><svg focusable="false" aria-hidden="true" class="ecl-icon ecl-icon--s">
                  <use xlink:href="../component-library/dist/sprites/icons.svg#general--hamburger"></use>
                </svg>Menu</a>
              <section class="ecl-menu__inner" data-ecl-menu-inner="true">
                <header class="ecl-menu__inner-header"><button data-ecl-menu-close="true" type="submit"
                    class="ecl-menu__close ecl-button ecl-button--text"><span
                      class="ecl-menu__close-container ecl-button__container"><svg focusable="false" aria-hidden="true"
                        data-ecl-icon="true" class="ecl-button__icon ecl-button__icon--before ecl-icon ecl-icon--s">
                        <use xlink:href="../component-library/dist/sprites/icons.svg#ui--close-filled"></use>
                      </svg><span class="ecl-button__label" data-ecl-label="true">Close</span></span></button>
                  <div class="ecl-menu__title">Menu</div><button data-ecl-menu-back="true" type="submit"
                    class="ecl-menu__back ecl-button ecl-button--text"><span class="ecl-button__container"><svg focusable="false"
                        aria-hidden="true" data-ecl-icon="true"
                        class="ecl-button__icon ecl-button__icon--before ecl-icon ecl-icon--s ecl-icon--rotate-270">
                        <use xlink:href="../component-library/dist/sprites/icons.svg#ui--corner-arrow"></use>
                      </svg><span class="ecl-button__label" data-ecl-label="true">Back</span></span></button>
                </header>
                <ul class="ecl-menu__list">
                  <li class="ecl-menu__item" data-ecl-menu-item="true"><a href="../index.html" class="ecl-menu__link"
                      data-ecl-menu-link="true">Home</a></li>
                  <li class="ecl-menu__item" data-ecl-menu-item="true"><a href="index.html" class="ecl-menu__link"
                          data-ecl-menu-link="true">Test selection</a></li>
                  <li class="ecl-menu__item" data-ecl-menu-item="true"><a href="../test-reports/index.html" class="ecl-menu__link"
                          data-ecl-menu-link="true">Test reports</a></li>
                  <li class="ecl-menu__item" data-ecl-has-children="true" data-ecl-menu-item="true"><a href=""
                      class="ecl-menu__link" data-ecl-menu-link="true">Get support<svg focusable="false" aria-hidden="true"
                        class="ecl-menu__link-icon ecl-icon ecl-icon--xs ecl-icon--rotate-90">
                        <use xlink:href="../component-library/dist/sprites/icons.svg#ui--corner-arrow"></use>
                      </svg></a>
                    <div class="ecl-menu__mega" data-ecl-menu-mega="true">
                      <ul class="ecl-menu__sublist">
                        <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><a href="https://github.com/INSPIRE-MIF/helpdesk-validator/issues/new?template=problem.md"
                            class="ecl-menu__sublink">Report a problem</a></li>
                        <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><a href="https://github.com/INSPIRE-MIF/helpdesk-validator/issues/new?template=improvement-proposal.md"
                            class="ecl-menu__sublink">Propose a new feature or improvement</a></li>
                        <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><a href="https://github.com/INSPIRE-MIF/helpdesk-validator/issues/new?template=discussion.md"
                            class="ecl-menu__sublink">Start a discussion or raise a question</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="ecl-menu__item" data-ecl-has-children="true" data-ecl-menu-item="true"><a href=""
                      class="ecl-menu__link" data-ecl-menu-link="true">More on the INSPIRE Reference Validator<svg focusable="false" aria-hidden="true"
                        class="ecl-menu__link-icon ecl-icon ecl-icon--xs ecl-icon--rotate-90">
                        <use xlink:href="../component-library/dist/sprites/icons.svg#ui--corner-arrow"></use>
                      </svg></a>
                    <div class="ecl-menu__mega" data-ecl-menu-mega="true">
                      <ul class="ecl-menu__sublist">
                        <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                            class="ecl-menu__sub">Other instances</span></li>
                            <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://staging-inspire-validator.eu-west-1.elasticbeanstalk.com/etf-webapp/"
                                class="ecl-menu__sublink">Staging instance</a></li>
                            <!-- <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=""
                                class="ecl-menu__sublink">Beta instance</a></li> -->
                        <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                            class="ecl-menu__sublink"></span></li>
                        <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                            class="ecl-menu__sublink"></span></li>
                        <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                            class="ecl-menu__sub">Validator API</span></li>
                            <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://inspire.ec.europa.eu/validator/swagger-ui.html"
                                class="ecl-menu__sublink">Access the API</a></li>
                            <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/INSPIRE-MIF/helpdesk-validator/tree/master/training%20material/2019-10-01%2B02%20JRC%20Workshop/Step-by-step%20example%20-%20API"
                                class="ecl-menu__sublink">Example of API usage</a></li>
                        <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                            class="ecl-menu__sublink"></span></li>
                        <li class="ecl-menu__subitem" data-ecl-menu-subitem="true"><span
                            class="ecl-menu__sub">Validator software</span></li>
                            <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://docs.etf-validator.net/v2.0/index.html"
                                class="ecl-menu__sublink">ETF Manuals</a></li>
                            <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/INSPIRE-MIF/helpdesk-validator/releases/"
                                class="ecl-menu__sublink">Download the INSPIRE Validator</a></li>
                            <li class="ecl-menu__subitem" data-ecl-menu-subitem="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/INSPIRE-MIF/helpdesk-validator/tree/master/release%20strategy"
                                class="ecl-menu__sublink">Release plan</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <form name="testSelection" action="https://inspire.ec.europa.eu/validator/v2/TestObjects" method="post" enctype="multipart/form-data">
      <input type="hidden" name="uploadTestObjectId" id="uploadTestObjectId" value="">
    <div class="ecl-u-pv-3xl ecl-u-pv-lg-4xl" ng-controller="myValidatorController">
      <div class="ecl-container ecl-u-type-m">

        <!-- UPLOAD FILE -->
        <div id="metadata-upload-file" class="radio-group">
          <h2 class="ecl-u-type-heading-2 ecl-u-type-color-black ecl-u-mv-none" id="title-provide-test">Provide the resource to test</h2>
              <legend class="ecl-form-label"><br/>Provide a label for your test report <span class="ecl-form-label__optional">(optional)</span></legend>
              <span>Your test report will appear with the label below; edit the text if you wish to change it.</span><br/><br/>
              <div class="rTable">
                <div class="rTableRow">
                  <div class="rTableCell90">
                    <input type="text" id="text-label-report" name="text-label-report" class="ecl-text-input text-input-size" />
                  </div>
                </div>
              </div>          
			  <br/>
<script type="application/json">{
  "service": "captcha",
  "renderTo": "captcha"
}</script>
<div id="captchaContainer">
    <form action="#" method="POST">
	<div id="captcha"></div>
        <button id="verifyCaptcha" type="button" class="ecl-button ecl-button--primary">Verify</button>
    </form>
</div>


			<div id="metadata-upload-file2" class="upload-group">
            <legend class="ecl-form-label">Select the input type and upload or link the resource <span class="ecl-form-label__required">*</span></legend>
            <span>The system can process multiple files at once. You can upload a compressed ZIP file or enter a service operation with requests to one or more records/features.</span><br/><br/>
            <div class="ecl-form-group">
              <div class="rTable">
                <div class="rTableRow">
                  <div class="rTableCell30">
                    <div class="ecl-select__container ecl-select__container--m"><select id="file-upload-id" name="select-name"
                        class="ecl-select" ng-change="chooseFileUploadMode()" ng-model="inputTypeForTest">
                        <option value="remote">Remote file</option>
                        <option value="upload">File upload</option>
                      </select>
                      <div class="ecl-select__icon"><svg focusable="false" aria-hidden="true"
                          class="ecl-select__icon-shape ecl-icon ecl-icon--s ecl-icon--rotate-180">
                          <use xlink:href="../component-library/dist/sprites/icons.svg#ui--corner-arrow"></use>
                        </svg></div>
                    </div>
                  </div>
                  <div id="uploadCell" class="rTableCell50">
                    <div ng-show="select.fileUploadType == 'remote'">
                      <input type="text" id="text-input-url" name="text-input-url" class="ecl-text-input text-input-size" />
                    </div>
                    <div ng-show="select.fileUploadType == 'upload'">
                      <div data-ecl-file-upload-group="true" class="ecl-form-group"><label class="ecl-form-label" for="file-upload-multiple">Upload file<span class="ecl-form-label__required">*</span></label>
                        <div class="ecl-help-block"><div class="ecl-u-mt-xs ecl-u-type-color-grey-75">Maximum size is <strong>5 MB</strong>.<br />Encrypted documents and those containing macros are not accepted.</div>
                      </div><label class="ecl-file-upload__button-container" for="file-upload-multiple"><span data-ecl-file-upload-button="true" data-ecl-file-upload-label-choose="Choose files" data-ecl-file-upload-label-replace="Replace files" class="ecl-file-upload__button ecl-button ecl-button--primary">Choose files</span></label><input onchange="sendFileToREST()" type="file" data-ecl-auto-init="FileUpload" multiple="" data-ecl-file-upload-input="true" id="file-upload-multiple" name="file-upload-name" class="ecl-file-upload" required="" />
                        <ul class="ecl-file-upload__list" data-ecl-file-upload-list="true"></ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
		<br>
        <div data-ecl-auto-init="Expandable" class="ecl-expandable" data-ecl-expandable="true"><button data-ecl-expandable-toggle="true" data-ecl-label-expanded="Selected Conformance Class(es)" data-ecl-label-collapsed="Selected Conformance Class(es)" aria-controls="metadata-advanced-options-content" aria-expanded="false" type="button" class="ecl-expandable__toggle ecl-button ecl-button--secondary"><span class="ecl-button__container"><span class="ecl-button__label" data-ecl-label="true">Selected Conformance Class(es)</span><svg focusable="false" aria-hidden="true" data-ecl-icon="true" class="ecl-button__icon ecl-button__icon--after ecl-icon ecl-icon--fluid ecl-icon--rotate-180">
			<use xlink:href="../component-library/dist/sprites/icons.svg#ui--corner-arrow"></use>
            </svg></span></button>
            <div class="ecl-expandable__content" id="metadata-advanced-options-content" hidden="">
				<table>
					<tr>
						<td ng-show="checkIfIsArray(restservice.testsuiteid) == false">
							<span>• {{mappingTestSuite(restservice.testsuiteid)}}<br/></span>
						</td>
                        <td ng-show="checkIfIsArray(restservice.testsuiteid) == true">
							<span ng-repeat="testSuite in restservice.testsuiteid">
                                      • {{mappingTestSuite(testSuite)}}<br/>
							</span>
						</td>
					</tr>
				</table>
			</div>
		</div>

        <!-- START BUTTON -->
        <br/>
        <div class="rTable">
          <div class="rTableRow">
            <div class="rTableCell90">
              <button id="buttonStart" ng-click="sendRunRequest()" type="button" class="ecl-button ecl-button--call" style="float: right;"><span class="ecl-button__container"><span
                    class="ecl-button__label" data-ecl-label="true">Start test</span><svg focusable="false"
                    aria-hidden="true" data-ecl-icon="true"
                    class="ecl-button__icon ecl-button__icon--after ecl-icon ecl-icon--xs ecl-icon--rotate-90">
                    <use xlink:href="../component-library/dist/sprites/icons.svg#ui--corner-arrow"></use>
                  </svg></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>

    <!-- FOOTER -->
    <footer class="ecl-footer-standardised">
  <div class="ecl-container ecl-footer-standardised__container">
    <section class="ecl-footer-standardised__section ecl-footer-standardised__section1"><a href=""
        class="ecl-footer-standardised__title ecl-link ecl-link--standalone">INSPIRE Reference Validator</a>
      <div class="ecl-footer-standardised__description">The INSPIRE Validator is managed by the European Commission Joint Research Centre B6 Unit</div>
    </section>
    <div class="ecl-footer-standardised__section2">
      <section class="ecl-footer-standardised__section">
        <div class="ecl-footer-standardised__title ecl-footer-standardised__title--separator">Contact us</div>
        <ul class="ecl-footer-standardised__list">
          <li class="ecl-footer-standardised__list-item"><a href="https://github.com/inspire-eu-validation/community/wiki/Your-feedback"
              class="ecl-footer-standardised__link ecl-link ecl-link--standalone">Contact information</a></li>
        </ul>
      </section>
      <section class="ecl-footer-standardised__section">
        <div class="ecl-footer-standardised__title ecl-footer-standardised__title--separator">Follow us on</div>
        <ul class="ecl-footer-standardised__list ecl-footer-standardised__list--inline">
          <li class="ecl-footer-standardised__list-item"><a href="https://www.facebook.com/groups/inspiredirective/"
              class="ecl-footer-standardised__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before"><svg
                focusable="false" aria-hidden="true" class="ecl-link__icon ecl-icon ecl-icon--xs">
                <use xlink:href="../component-library/dist/sprites/icons.svg#branded--facebook"></use>
              </svg>&nbsp;<span class="ecl-link__label">Facebook</span></a></li>
          <li class="ecl-footer-standardised__list-item"><a href="https://twitter.com/INSPIRE_EU"
              class="ecl-footer-standardised__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before"><svg
                focusable="false" aria-hidden="true" class="ecl-link__icon ecl-icon ecl-icon--xs">
                <use xlink:href="../component-library/dist/sprites/icons.svg#branded--twitter"></use>
              </svg>&nbsp;<span class="ecl-link__label">Twitter</span></a></li>
          <li class="ecl-footer-standardised__list-item"><a href="https://www.linkedin.com/groups/1066897"
              class="ecl-footer-standardised__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before"><svg
                focusable="false" aria-hidden="true" class="ecl-link__icon ecl-icon ecl-icon--xs">
                <use xlink:href="../component-library/dist/sprites/icons.svg#branded--linkedin"></use>
              </svg>&nbsp;<span class="ecl-link__label">Linkedin</span></a></li>
        </ul>
      </section>
    </div>
    <div class="ecl-footer-standardised__section3">
      <section class="ecl-footer-standardised__section">
        <div class="ecl-footer-standardised__title ecl-footer-standardised__title--separator">About us</div>
        <ul class="ecl-footer-standardised__list">
          <li class="ecl-footer-standardised__list-item"><a href="../about/index.html"
              class="ecl-footer-standardised__link ecl-link ecl-link--standalone">Information about the INSPIRE Validator</a></li>
        </ul>
      </section>
      <section class="ecl-footer-standardised__section">
        <div class="ecl-footer-standardised__title ecl-footer-standardised__title--separator">Related sites</div>
        <ul class="ecl-footer-standardised__list">
          <li class="ecl-footer-standardised__list-item"><a href="https://inspire.ec.europa.eu/"
              class="ecl-footer-standardised__link ecl-link ecl-link--standalone">INSPIRE Knowledge Base</a></li>
          <li class="ecl-footer-standardised__list-item"><a href="https://inspire-geoportal.ec.europa.eu/)"
              class="ecl-footer-standardised__link ecl-link ecl-link--standalone">INSPIRE Geoportal</a></li>
          <li class="ecl-footer-standardised__list-item"><a href="https://inspire.ec.europa.eu/forum"
              class="ecl-footer-standardised__link ecl-link ecl-link--standalone">INSPIRE Community Forum</a></li>
          <li class="ecl-footer-standardised__list-item"><a href="https://inspire.ec.europa.eu/registry"
              class="ecl-footer-standardised__link ecl-link ecl-link--standalone">INSPIRE Registry</a></li>
        </ul>
      </section>
    </div>
    <section class="ecl-footer-standardised__section ecl-footer-standardised__section7"><a
        href="https://ec.europa.eu/info/index_en"
        class="ecl-footer-standardised__title ecl-link ecl-link--standalone">European Commission</a></section>
    <section class="ecl-footer-standardised__section ecl-footer-standardised__section8">
      <ul class="ecl-footer-standardised__list">
        <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/about-european-commission/contact_en"
            class="ecl-footer-standardised__link ecl-link ecl-link--standalone">Contact the European Commission</a></li>
        <li class="ecl-footer-standardised__list-item"><a href="https://europa.eu/european-union/contact/social-networks_en#n:+i:4+e:1+t:+s"
            class="ecl-footer-standardised__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-after"><span
              class="ecl-link__label">Follow the European Commission on social media</span>&nbsp;<svg focusable="false"
              aria-hidden="true" class="ecl-link__icon ecl-icon ecl-icon--xs">
              <use xlink:href="../component-library/dist/sprites/icons.svg#ui--external"></use>
            </svg></a></li>
        <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/resources-partners_en"
            class="ecl-footer-standardised__link ecl-link ecl-link--standalone">Resources for partners</a></li>
      </ul>
    </section>
    <section class="ecl-footer-standardised__section ecl-footer-standardised__section9">
      <ul class="ecl-footer-standardised__list">
        <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/language-policy_en"
            class="ecl-footer-standardised__link ecl-link ecl-link--standalone">Language policy</a></li>
        <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/cookies_en"
            class="ecl-footer-standardised__link ecl-link ecl-link--standalone">Cookies</a></li>
        <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/privacy-policy_en"
            class="ecl-footer-standardised__link ecl-link ecl-link--standalone">Privacy policy</a></li>
        <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/legal-notice_en"
            class="ecl-footer-standardised__link ecl-link ecl-link--standalone">Legal notice</a></li>
        <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/brexit-content-disclaimer"
            class="ecl-footer-standardised__link ecl-link ecl-link--standalone">Brexit content disclaimer</a></li>
      </ul>
    </section>
  </div>
</footer>

<div class="balloonMessageBlue" id="hidingMessage1"><span id="baloonText1" class="ecl-form-label"></span><div class="crossToClose"><span class="ecl-form-label" onclick="closeBalloon(1)">x</span></div><div class="progressBar1" id="progressBar1"><div></div></div></div>
<div class="balloonMessageGreen" id="hidingMessage2"><span id="baloonText2" class="ecl-form-label"></span><br><span id="baloonSubText2" class="ecl-u-type-m"></span> <div class="crossToClose"><span class="ecl-form-label" onclick="closeBalloon(2)">x</span></div><div class="progressBar2" id="progressBar2"><div></div></div></div>
<div class="balloonMessageRed" id="hidingMessage3"><span id="baloonText3" class="ecl-form-label"></span><br><span id="baloonSubText3" class="ecl-u-type-m"></span> <div class="crossToClose"><span class="ecl-form-label" onclick="closeBalloon(3)">x</span></div><div class="progressBar3" id="progressBar3"><div></div></div></div>

<div id="betaBanner" class="topcorner" style="display: none;position:fixed;top:0;right:0;"><img style="width:120px" src="../img/beta.png"/></div>

    <script
      src="https://cdn1.fpfis.tech.ec.europa.eu/ecl/v2.27.0/ec-preset-website/scripts/ecl-ec-preset-website.js"
      integrity="sha256-knt02XXQs7zdlJu/OOHAh0tF1yRqyeQ3LdLgOV+rZOU= sha384-ob5Ph2FIGHpIbnCAgc/qG8HsAOwt1X+Vt9XfWXc9uJuBa9cVNJcIKofgBHUywSQg sha512-UA8/K8LQ6Jzna2z8bwFLdPl/99Du+AqeyYTklZqvQZu8kvzBp26LcoLKypLn3AhuqMEBwlaWCbRBsIs98tPV6A=="
      crossorigin="anonymous"
    ></script>
    <script>
      ECL.autoInit();
    </script>

  </body>
</html>
